@font-face {
  font-family: "Jost";
  font-weight: bold;
  src: url("/Jost-Bold.ttf");
}

@font-face {
  font-family: "Jost";
  font-weight: normal;
  src: url("/Jost-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  cursor: url("/pencil-cursor.svg"), auto;
}

body {
  margin: 5rem auto;
  padding: 0 5rem;
  max-width: 80rem;
  font: 5rem/1.25 "Jost";
  background: #515a48;
  color: #efeae6;
}

body:after {
  content: " ";
  border: 0 solid currentColor;
  border-width: 0 .2rem .2rem 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(100vh - 7rem);
  opacity: 1;
  transform: rotate(45deg);
  animation: 1s ease infinite alternate bounce;
  transition: .5s;
}

@keyframes bounce {
  from {
    transform: rotate(45deg) translate(-1rem, -1rem);
  }

  to {
    transform: rotate(45deg) translate(1rem, 1rem);
  }
}

body.scrolled:after {
  opacity: 0;
}


h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 4rem;
  text-align: left;
}

.js body > * {
  opacity: 0;
  transform: translate(0, 4rem);
  transition: .5s;
}

.js body > *.visible {
  opacity: 1;
  transform: translate(0, 0);
}

a {
  text-decoration: underline;
  color: #d6a5ae;
  cursor: inherit;
}

a:hover, a:focus {
  color: #fff;
  outline: 0;
}

details {
  margin: 2rem 0;
  clear: both;
  overflow-y: hidden;
}

summary {
  display: block;
  position: relative;
  padding-right: 4rem;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: 2rem;
}

summary:after {
  content: " ";
  border: 0 solid currentColor;
  border-width: 0 .2rem .2rem 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 0;
  opacity: 1;
  transform: rotate(45deg);
  transition: .5s;
}

details[open] summary:after {
  transform: rotate(225deg) translate(-.75rem, -.75rem);
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: 0;
  text-decoration: underline;
}

footer {
  margin: 4rem 0;
}

footer p {
  font-size: 1rem;
}
